{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}
<div style="background-color: rgba(0,0,0,0.53); width: 100%; height: 350px; text-align:center; padding-top: 30px; margin-top: 150px;">
  <div style="text-align:center; margin-top:20px; background-color: rgba(0,0,0,0.73); padding-top:10px; width: 350px; margin-left:550px; height: 250px;">
    <h4>Inicio Sesión</h4>
    <form method="post" action="." style="width: auto; text-align:center;">
      <div style="padding-right:0px;">
        <label for = "id_username"></label>
          <input id="id_username" name="username" placeholder="Usuario">
      </div>
      <div style="padding-right: 0px; margin-top: 20px;">
        <label for = "id_password"></label>
          <input id="id_password" type="password" name="password" placeholder="Contraseña">
      </div>
        {% csrf_token %}
        <input style="margin-top: 20px;" class="btn btn-secondary" style="background-color:#000;" type="submit" value="{% trans 'Iniciar sesión' %}" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p style="margin-top: 20px;">{% trans "Has olvidado tu contraseña" %}? <a style="color:orange;" href="{% url 'auth_password_reset' %}">{% trans "Restablecer" %}</a>!</p>
  </div>
</div>
{% if form.errors %}
  {% for a in form.errors %}
    {%if a == 'username'%}
      <div style="text-align: center;">
        <div class="btn btn-primary" style="margin-top: 10px; text-align: center; width: 100%;"><strong><ul><li>El campo USUARIO es obligatorio.</li></ul></strong></div>
      </div>
    {% elif a == 'password' %}
      <div style="text-align: center;">
        <div class="btn btn-primary" style="margin-top: 10px; text-align: center; width: 100%;"><strong><ul><li>El campo CONTRASEÑA es obligatorio.</li></ul></strong></div>
      </div>
    {% elif a == '__all__' %}
      <div class="alert btn-primary" style="margin-top: 10px; text-align: center;"><strong><ul><li>Por favor introduza nombre de usuario y contraseña correctos. Note que puede que ambos campos sean estrictos en relación a diferencias entre mayúsculas y minúsculas.</li></ul></strong></div>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}
