{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

{% if validlink %}
<div style="background-color: rgba(0,0,0,0.73); height:380px; text-align:center; margin-top: 30px; padding-top:20px;">
  <form method="post" action="." style="width: 380px; margin-left: 500px;">
    {% csrf_token %}
    {{ form | crispy }}

    <input style="margin-top:5px;" class="btn btn-primary" type="submit" value="{% trans 'Enviar' %}" />
  </form>
</div>
{% else %}
<div class="alert btn-primary"  style="width: auto; height: auto; text-align:center; padding-top: 10px; margin-top: 150px;">
  <h2>{% trans "Contraseña no ha sido cambiada." %}</h2>
</div>
{% endif %}
{% endblock %}
