{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<!-- Bootstrap core CSS-->
<link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
<!-- Custom fonts for this template-->
<link href="{%static 'vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
<!-- Page level plugin CSS-->
<!-- Custom styles for this template-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Bienvenido</title>