{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="{% url 'inicio' %}"><img src="{% static 'img/7col.png' %}" style="width: 50px;height: 40px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link  btn-lg"  href="{% url 'listado_trabajadores' %}">Trabajadores </a>
      </li>
      <li class="nav-item">
        <a class="nav-link  btn-lg" href="{% url 'registrarJornada' %}">Registrar Jornada</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  btn-lg" href="#">Listar información de entrada y salida</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-lg" href="#">Permiso de ausentismo</a>
      </li>
    </ul>

  </div>
</nav>
