<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Detalle trabajador</h3>
            <button type="button" class="close" data-dismiss="modal">X</button>

        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-4">
                    <label>Nombres:</label>
                    <p>{{ object.nombres }}</p>
                    <label>Cedula:</label>
                    <p>{{ object.cedula }}</p>
                    <label>Fecha de ingreso:</label>
                    <p>{{ object.fechaIngreso }}</p>
                    <label>Fecha de nacimiento:</label>
                    <p>{{ object.fechaNacimiento }}</p>
                    <label>Edad:</label>
                    <p>{{ object.edad }}</p>
                    <label>Telefono:</label>
                    <p>{{ object.telefono }}</p>
                    <label>Codigo de barras</label>
                    <p>{{ object.CodigoBarras }}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-lg-12 text-right">
                <button type="button" class="btn btn-primary" onclick="return cerrar_modal()">
                        Aceptar
                </button>
            </div>
        </div>
    </div>
</div>