
{% load crispy_forms_tags %}

<div class="modal-dialog modal-lg">

        <div class="modal-content">
            {% if object %}
                <form role="form" action="{% url 'modificar_trabajador' object.id %}" method="post">
                 {% csrf_token %}
            {% else %}
                <form role="form" action="{% url 'crear_trabajador' %}" method="post">
                 {% csrf_token %}
            {% endif %}
                <div style="background-color: #4eac92" class="modal-header">
                    {% if object %}
                        <h3 style="">Modificar colaborador</h3>
                    {% else %}
                        <h3 style="">Crear colaborador</h3>
                    {% endif %}

                    <button type="button" class="close" data-dismiss="modal">X</button>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ form.media }}
                            {% crispy form %}
                            <div class="text-md-right">
                                <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
                                <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">
                                Cancelar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
</div>
