{% extends "base.html" %}

{% block content %}
    <div style="padding-left: 5%;padding-right: 5%" class="">
        <div class="row">
            <div class="col-lg-12">
                <div style="padding-top: 30px"></div>
                <div style="background-color: rgba(0,0,0,0.53); width: 100%; border-radius: 10px">
                  <h1 style="color: #abebc6;"><strong>Colaboradores</strong></h1>
                </div>
            </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <table class="table table-responsive table-hover table-bordered">
              <thead>
                <tr class="table-success">
                  <th class="col-md-3 text-center">Nombres</th>
                  <th class="text-center">Cedula</th>
                  <th class="col-md-3 text-center">Fecha de ingreso</th>
                  <th class="col-md-3 text-center">Fecha de nacimiento</th>
                  <th class=" text-center">Edad</th>
                  <th class=" text-center">Admin</th>
                  <th class=" text-center">Telefono</th>
                  <th class="col-md-2 text-md-center"><a href="{% url 'crear_trabajador' %}"  class="btn btn-secondary "><span class="fas fa-plus-circle"></span> Crear</a></th>
                </tr>
              </thead>
              <tbody>
                {% for trabajador in object_list %}
                  <tr class="table-light table-striped">
                    <td>{{ trabajador.nombres }}</td>
                    <td>{{ trabajador.cedula }}</td>
                    <td>{{ trabajador.fechaIngreso }}</td>
                    <td>{{ trabajador.fechaNacimiento }}</td>
                    <td class="text-md-center">{{ trabajador.edad }}</td>
                      {% if trabajador.administrador == True %}
                          <td class="text-md-center"><input  disabled type="checkbox" checked  class="custom-checkbox"></td>
                      {% else %}
                          <td class="text-md-center"><input disabled type="checkbox"  class="custom-checkbox"></td>
                      {% endif %}

                    <td>
                        {% if trabajador.telefono %}
                            {{ trabajador.telefono }}
                        {% else %}
                            sin registro
                        {% endif %}
                    </td>

                    <td class="text-xl-center">
                      <a onclick="return abrir_modal('{% url 'detalle_trabajador' trabajador.id %}')" class="btn">
                        <span style="color: rgba(0,0,0,0.8)"  class="fas fa-eye"></span>
                      </a>
                      <a href="{% url 'modificar_trabajador' trabajador.id %}" class="btn">
                        <span style="color: rgba(0,0,0,0.8)" class="fas fa-edit"></span>
                      </a>
                      <a onclick="return abrir_modal('{% url 'eliminar_trabajador' trabajador.id %}')" class="btn">
                        <span style="color: rgba(0,0,0,0.8)" class="fas fa-trash"></span>
                      </a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>


            {% if not object_list %}
                <div style="background-color: rgba(0,0,0,0.53); width: 100%; border-radius: 10px">
                    <h1 style="color: #fefefe"> No existen registros </h1>
                </div>
            {% endif %}

          </div>
        </div>
        <div id="popup" class="modal fade" role="dialog">

        </div>
    </div>

{% endblock %}
