{% if request.user.is_authenticated %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div style="background-color: #4eac92" class="modal-header">
            <h3>Eliminar colaborador</h3>
            <button type="button" class="close" data-dismiss="modal"><span class="fa fa-times-circle"></span></button>
        </div>
        <div class="modal-body">
            <form method="post" action="{% url 'eliminar_trabajador' object.id %}">
                {% csrf_token %}
                <h3 style="color: #1b1e21">¿Desea eliminar a <strong>{{ object.nombres }}</strong> ?</h3>
                <div class="text-md-center">
                    <button class="btn btn-danger" type="submit">Sí, eliminar</button>
                    <button type="button" class="btn btn-info" onclick="return cerrar_modal()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
      <div class="alert btn-primary"  style="width: auto; height: auto; text-align:center; padding-top: 10px; margin-top: 150px;">
        <h2>Por favor iniciar sesión</h2>
      </div>
{% endif %}