{% load i18n %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'base/header.html'%}
</head>

<body class="fixed-nav sticky-footer bg-body-registration" id="page-top">
  <!-- Navigation-->
{%if request.user.is_authenticated %}
    {%include 'base/navbar.html'%}
{%endif%}


{%block content%}
    {% include 'base/container.html' %}
{%endblock%}

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
{%if request.user.is_authenticated %}
    {%include 'base/footer.html'%}
{%endif%}
    <!-- Scroll to Top Button-->

</body>
</html>
