{% load i18n %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%include 'base/header.html'%}
</head>

<body class="fixed-nav sticky-footer bg-body-registration" id="page-top">
  <!-- Navigation-->
  {%include 'base/navbar.html'%}


{%block content%}
    {% include 'base/container.html' %}
{%endblock%}

    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

    <!-- Scroll to Top Button-->
</body>

<script>
    function abrir_modal(url)
{
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        return false;
}

function cerrar_modal()
{
        $('#popup').modal('hide');
        return false;
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
                url: "/static/localizacion/es_ES.json"
        }
    } );
});

/*function limpiar() {
    document.getElementById("prueba").value = "";
}
Esta función podria servir
*/

</script>



</html>
