{% extends "base.html" %}
{% block content %}

  <div class="form-group2">
    <label class="custom-file" >
      <div class="form-group">
          <form action="." method="GET" >
              {% csrf_token %}
              <input type="password" name="CodigoBarras" id="prueba" value="" placeholder="Ingrese el codigo de barras"  onkeypress="return event.keyCode!=13"/>
              <a type="submit" onclick="return abrir_modal('{% url 'registrarJornadaModal' %}')" class="btn btn-secondary ">Cargar</a>
              <!--<input type="submit" value="Search" onclick="return '{% url 'detail' %}'">-->
          </form>
        </div>
      </label>
    </div>
      <!--
      <div class="form">
        <input name="CodigoBarras" id="" value="354" placeholder="Ingrese el codigo de barras"/>
        <a onclick="return abrir_modal('{s% url 'codigo_barras' %}')" class="btn btn-secondary ">Crear</a>
      </div>
      -->

  <div id="popup" class="modal fade" role="dialog">

  </div>
{% endblock %}
