{% load crispy_forms_tags %}
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    {% if object %}
      <form role="form" action="{% url 'registrarJornadaModal' %}" method="post">
    {% endif %}
        <div class="modal-header">
          <h3>Registrar Jornada</h3>
          <button type="button" class="close" data-dismiss="modal">x</button>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
            <div class="panel-body">
              {% crispy form %}
              <input type="submit" class="btn btn-primary" value="Guardar">
              <button type="button" class="btn btn-danger" onclick="return cerrar_modal()">
                Cancelar </button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="col-lg-12 text-right">

          </div>
      </div>
    </form>
  </div>
</div>
