{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}
    {% if trabajadores %}
        <ul></ul>
        <ul>
          <div style="padding-top: 3%"> </div>
            <div class="container" style="background-color: #fefefe;border-radius: 10px;">
                <div class="row" style="background-color:rgba(74,255,202,0.71);border-top-right-radius: 10px;border-top-left-radius: 10px">
                    <div class="col-md-11">
                        <h3 class="" style="color: darkcyan;padding-left: 10%"><strong>Registrar Jornada</strong></h3>
                    </div>
                </div>
                <div class="row" style="background-color:#4eac92">
                    <div class="col-md-6">
                        <h3 style="color: #fefefe"  class="text-md-center"> <strong>Colaborador:</strong> </h3>
                    </div>
                    <div class="col-md-6">
                        <h3 style="color: #fefefe" class="text-md-center">{{ trabajadores.first }}</h3>
                    </div>
                </div>
                 <div class="row" style="background-color:#4eac92">
                    <div class="col-md-6">
                        <h3 style="color: #fefefe" class="text-md-center"><strong> Hora de registro: </strong></h3>
                    </div>
                    <div class="col-md-6">
                        <h3 style="color: #fefefe" class="text-md-center" id="time"></h3>
                    </div>
                </div>

                <div class="row" style="background-color:#55b281;padding-left: 1%">
                    <div class="col-sm-2">
                        <h4 style="color: #fefefe">Entrada</h4>
                    </div>
                    <div class="col-sm-2">
                        <h4 style="color: #fefefe">Desayuno</h4>
                    </div>
                    <div class="col-sm-2">
                        <h4 style="color: #fefefe" >Almuerzo</h4>
                    </div>
                    <div class="col-sm-3">
                        <h4 style="color: #fefefe">Pausas activas</h4>
                    </div>
                    <div class="col-sm-2">
                        <h4 style="color: #fefefe">Descanso</h4>
                    </div>
                </div>
                {% for a in errors %}
                  {% if a == 'Usted ya registro SALIDA, no podrá ingresar mas datos.' %}
                  <div class="errorSalida">
                    <div class="alert alert-block alert-danger"> <ul> <li>{{ a }}</li> </ul> </div>
                  </div>
                  {% endif %}
                {% endfor %}
                <div style="height: 10px"></div>
                <div class="row">
                   <form role="form" action=" " method="post">{% csrf_token %}
                       {% crispy form %}
                   </form>
                </div>

                {# {% for error in errors %} #}
                    <!--
                    <div class="row" style="background-color:#3ac18c;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px">
                        <div class="col-md-12">
                            <h1 class="text-md-center"><span class="badge badge-danger">{{ error }}</span></h1>
                        </div>
                    </div>
                    -->
                {# {% endfor %}  #}

    {% else %}

        <div class="form-group2">
          <label class="custom-file" >
            <form action="." method="GET" >
              {% csrf_token %}
              <form action=""  id="navbar-1" class="collapse navbar-collapse navbar-form" role="search">
              <!--div class="input-group" style="margin-right:7px;">
                  <input type="password" name="cb" id="cb" value="" placeholder="Ingrese el codigo de barras" onkeypress="return event.keyCode!=13"/>  
                  <button type="submit" class="btn btn-secondary" >
                      <i class="fas fa-search" aria-hidden="true" style="width: 30px; "></i>
                  </button>
              </div-->
              <div class="input-group" style="margin-right:7px; height: 40px !important;">
                  <input type="password" name="cb" id="cb" value="" placeholder="Ingrese el codigo de barras" onkeypress="return event.keyCode!=13"/>  
                  <span class="input-group-addon" style="background-color: #F3969A; height: 40px !important; width: 58px;"><button type="submit" class="btn btn-secondary" style="width: 100%; height: 38px; width: 56px; margin-left: -11px !important; border-radius: 0.4rem;">
                      <i class="fas fa-search" aria-hidden="true" style="width: 50px;  margin-left: -10px;"></i>
                      </button>
                  </span>
              </div>
              <!--input type="password" name="cb" id="cb" value="" placeholder="Ingrese el codigo de barras"  onkeypress="return event.keyCode!=13"/>
                <!--<a type="submit" onclick="return abrir_modal('{s% url 'registrarJornadaModal' %}')" class="btn btn-secondary ">Cargar</a>>
                <input type="submit" value="Cargar" class="btn btn-secondary"-->
            </form>
          </label>
          {% for error in errors %}
              <h1><span class="badge badge-primary">{{ error }}</span></h1>
          {% endfor %}
          {% for x in mensaje %}
              <h1><span class="badge badge-success">{{ x }}</span></h1>
          {% endfor %}
        </div>
    {% endif %}


  <div id="popup" class="modal fade" role="dialog">


</div>



  </div>

<script>
    (function () {
        function checkTime(i) {
            return (i < 10) ? "0" + i : i;
        }

        function startTime() {
            var today = new Date(),
                h = checkTime(today.getHours()),
                m = checkTime(today.getMinutes()),
                s = checkTime(today.getSeconds());
            document.getElementById('time').innerHTML = h + ":" + m + ":" + s;
            t = setTimeout(function () {
                startTime()
            }, 500);
        }
        startTime();
    })();

</script>
{% endblock %}
